/* .inputField{
font-family: 'Roboto Mono', monospace;
      display: inline-block;
      width: 12%;
      height: 1.2rem;
      border-width: 1;
      color: rgba(0, 0, 0, 0.411);
      font-size: 11px;
} */

.inputField
{
    width: 40%;
    height: 1.8rem;
    max-width: 20%;
    margin-top: 5px;
    border-width: 1px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
}

.addressField
{
    width: 41%;
    height: 1.8rem;
    margin-top: 5px;
    border-width: 1px;
    border-radius: 20px;
    background-color:rgb(252, 252, 252);
}

body
{
    margin-top: 5%;
    margin-left: 40%;
    background: url(pexels.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    color: rgb(255, 75, 75) ;
}

.saveButton
{   margin-left: 5px;
    border-radius: 20px;
    background-color: rgb(253, 199, 117);
}