.Container
{
    margin-bottom: 1.5%;
}

.inputField
{
    width: 34%;
    height: 1.8rem;
    margin-top: 5px;
    border-width: 1px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
}

.inputNameField
{
    width: 90%;
    height: 1.8rem;
    margin-top: 5px;
    border-width: 1px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
}

.addressField
{
    width: 34%;
    height: 1.8rem;
    margin-top: 5px;
    border-width: 1px;
    border-radius: 10px;
    background-color:rgb(252, 252, 252);
}

body
{
    margin-top: 5%;
    margin-left: 40%;
    background: url(Bright-Blue1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    color: rgb(219, 16, 16) ;
}

.saveButton
{   margin-left: 5px;
    width: 10%;
    border-radius: 20px;
    background-color: rgb(253, 199, 117);
}